<h1>轉址前往信用卡付款頁面，請勿關閉或離開頁面...</h1>

<form name='Spgateway' method='post' action='https://ccore.spgateway.com/MPG/mpg_gateway'>
  MerchantID: <%= text_field_tag "MerchantID" %><br>
  TradeInfo: <%= text_field_tag "TradeInfo" %><br>
  TradeSha: <%= text_field_tag "TradeSha" %><br>
  Version: <%= text_field_tag "Version" %><br>
  <input type="submit" value='submit'>
</form>
